body {
  background-color: rgb(238, 130, 238);
  /*background-image:ur1('..img/lapop.png');*/
  background-repeat: no-repeat;
  margin: 0;
}

h1 {
  font-size: 200px;
  color: royalblue;
  text-align: center;
  background-color: antiquewhite;
  padding: 18vw;
}

p {
  font-size: 30px;
  background-color: rgb(230, 225, 176);
  text-align: center;
}

img {
  height: 500px;
  width: 500px;
}

a:hover {
  color: yellow;
}

a:active {
  color: pink;
}

ul {
  list-style-type: none;
  background-color: #333333;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 2vw;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

div.motherContanier {
  display: flex;
  margin: 3;
}

div.motherContanier div.left {
  background-color: rgb(200, 200, 200);
  width: 40%;
  /*float:left*/
}

div.motherContanier div.right {
  background-color: rgb(51, 187, 47);
  width: 60%;
  /* float:left;*/
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin: 3;
}

.grid-container > right {
  background-color: black;
  color: white;
}

.grid-container > center {
  background-color: yellow;
}
